@charset "UTF-8";
body {
	font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.4;
	color: #333;
	font-size: 0.9em;
}
a {
}
a:hover {
	text-decoration: none;
}
a:hover img {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
}
/********************************
Header
********************************/
header h1 {
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	margin: 20px 0 10px 0;
	font-size: 28px;
	font-weight: 800;
	color: #333333;
}
header h1 a {
	color: #333333 !important;
	text-decoration: none !important;
}
header div#header {
	text-align: center;
	width: 100%;
	height: 0;
 padding-top: calc(435 / 1366 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
	background: url(../img/main.png) top center / cover no-repeat;
	position: relative;
}
header div#header #message {
	position: absolute;
	top: 200px;
	text-align: center;
	width: 100%;
}
header div#header #message #m1 img {
	width: 350px;
}
header div#header #message #m2 img {
	width: 650px;
}
header div#header2 {
	text-align: center;
 padding-top: calc(250 / 1366 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
	background: url(../img/page.png) top center / cover no-repeat;
	position: relative;
}
header div#header2 #page {
	text-align: left;
	width: 980px;
	margin: 0 auto;
	position: relative;
}
header div#header2 #page #pagetit {
	position : absolute;
	top: -120px;
	left: 0;
}
header div#header2 #page h2 {
	text-align: left;
}
header div#header_privacy {
	text-align: center;
 padding-top: calc(250 / 1366 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
	background: url(../img/privacy.png) top center / cover no-repeat;
	position: relative;
}
header div#header_privacy #page {
	text-align: left;
	width: 980px;
	margin: 0 auto;
	position: relative;
}
header div#header_privacy #page #pagetit {
	position : absolute;
	top: -120px;
	left: 0;
}
header div#header_privacy #page h2 {
	text-align: left;
}
h2 {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	font-size: 24px;
	color: #434343;
}

@media only screen and (max-width: 768px) {
header div#header #message {
	top: 60px;
}
header div#header #message #m1 img {
	max-width: 60%;
}
header div#header #message #m2 img {
	max-width: 100%;
}
h2 {
	font-size: 140% !important;
}
header div#header2 #page {
	width: 100%;
}
header div#header2 #page #pagetit {
	top: -85px;
	left: 10px;
}
header div#header_privacy #page {
	width: 100%;
}
header div#header_privacy #page #pagetit {
	top: -85px;
	left: 10px;
}
}

@media only screen and (max-width: 480px) {
header h1 {
	margin: 20px 0 10px 0;
	font-size: 140%;
	font-weight: 800;
}
header div#header {
 padding-top: calc(435 / 800 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
	background: url(../img/main2.png) top center / cover no-repeat;
}
header div#header2 {
 padding-top: calc(300 / 800 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
	background: url(../img/page2.png) top center / cover no-repeat;
}
header div#header_privacy {
 padding-top: calc(300 / 800 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
	background: url(../img/privacy2.png) top center / cover no-repeat;
}
}
/********************************
service
********************************/
section#service {
	padding: 70px 0;
}
section#service h2 {
}
section#service .about {
	text-align: center;
	margin-top: 30px
}
section#service ul {
	width: 900px;
	margin: 30px auto 0 auto;
}
section#service ul li {
	float: left;
	width: 450px;
	text-align: center;
	font-weight: bold;
}
section#service ul li img {
	width: 400px;
}

@media only screen and (max-width: 768px) {
section#service {
	padding: 50px 0;
}
section#service ul {
	width: 100%;
	margin: 30px auto 0 auto;
}
section#service ul li {
	width: 50%;
	text-align: center;
	font-weight: bold;
}
section#service ul li img {
	width: 80%;
}
}

@media only screen and (max-width: 480px) {
section#service {
	padding: 20px 0;
}
section#service ul li {
	width: 100%;
	float: none;
	text-align: center;
	font-weight: bold;
}
section#service .about {
	text-align: left;
	padding: 0 10px;
	margin-top: 10px;
}
}
/********************************
basic
********************************/
section#basic {
	background: #f8f8f8;
}
section#basic #right {
	float: right;
	width: 50%;
	background-image: url(../img/basic.png);
	background-position: center;
	background-size: auto 100%;
	height: 350px;
	text-align: center;
}
section#basic #left {
	width: 50%;
	float: left;
	padding: 0 50px;
}
section#basic #left p {
	font-weight: bold;
	font-size: 24px;
	margin-top: 35px;
	margin-bottom: 10px;
}
section#basic #btn {
	text-align: center;
	margin-top: 30px;
}
section#basic #btn img {
	width: 250px;
}

@media only screen and (max-width: 768px) {
section#basic #right {
	float: right;
	width: 50%;
	text-align: center;
	background-repeat: no-repeat;
}
section#basic #left {
	width: 50%;
	float: left;
	padding: 0 10px;
	font-size: 90%;
}
section#basic #left p {
     margin-top: 20px;
	font-size: 140%;
	text-align: center;
}
section#basic #btn img {
	width: 180px;
}	
}

@media only screen and (max-width: 480px) {
section#basic #right {
	float: none;
	width: 100%;
	height: 250px;
}
section#basic #left {
	float: none;
	width: 100%;
	padding: 10px;
}
section#basic #btn {
	text-align: center;
	margin-top: 0px;
}
section#basic #left p {
	margin-top: 0px;
}
section#basic #btn img {
	width: 60%;
	margin-top: 10px;
}
}
/********************************
下層ページ
********************************/
section#pagecontents {
}
section#pagecontents h2,
#outline h2 {
	text-align: center;
	font-size: 24px !important;
	color: #434343;
	font-weight: bold;
	font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
section#pagecontents #ceo {
	width: 980px;
	margin: 0 auto;
	padding: 70px 0;
}
section#pagecontents #ceo #aboutceo {
	text-align: right;
}
section#pagecontents #ceo #aboutceo img {
	width: 240px;
	margin-top: 10px;
}
section#outline {
	padding: 70px 0;
	background: #f8f8f8;
}
section#outline .overview_table {
	border-collapse: collapse;
	border-spacing: 0;
	border-top: 1px solid #b8bfc8;
	border-left: 1px solid #b8bfc8;
	margin-top: 20px;
	margin-left: 20px;
	width: 800px;
	margin: 0 auto;
}
section#outline .overview_table th {
	text-align: left;
	border-bottom: 1px solid #b8bfc8;
	padding: 10px;
	background-color: #333333;
	line-height: 1.4;
	width: 270px;
	color: #ffffff;
	font-weight: normal;
}
section#outline .overview_table td {
	border-bottom: 1px solid #b8bfc8;
	border-right: 1px solid #b8bfc8;
	padding: 10px;
	line-height: 1.4;
	background: #ffffff;
}
section#outline #mission {
	text-align: center;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 1.6;
}
@media only screen and (max-width: 768px) {
section#pagecontents #ceo {
	width: 100%;
	padding: 30px 0;
}
section#outline {
	width: 100%;
	padding: 20px 10px;
}
section#outline .overview_table {
	width: 100%;
	font-size: 85%;
}
section#outline .overview_table th {
	width: 20%;
	padding: 5px;
}
section#outline .overview_table td {
	padding: 5px;
}
section#outline #mission {
    margin-bottom: 30px;
    font-size: 100%;
}	
}
@media only screen and (max-width: 480px) {
section#pagecontents #ceo {
	width: 100%;
	padding: 20px 0;
}
section#pagecontents h2,
#outline h2 {
	font-size: 140% !important;
	margin:  0 0 10px; 0;
}
section#outline #mission {
	text-align: left;
}
}



section#pagecontents #privacy {
	width: 980px;
	margin: 0 auto;
	padding: 70px 0;
}
section#privacy dl {
	margin-top: 50px;
}
section#privacy dl dt {
	font-weight: bold;
	font-size: 16px;
	padding: .25em 0 .5em .75em;
	border-left: 6px solid #f19dc1;
	border-bottom: 1px solid #f19dc1;
}
section#privacy dl dd {
	margin: 10px 20px 60px 20px
}
section#privacy dl dd ol {
	margin: 20px 0;
}
section#privacy dl dd ol li {
	list-style-type: decimal !important;
	list-style-position: outside !important;
	margin: 0 30px 10px 30px;
	font-size: 12px;
}
section#pagecontents #profile {
	background: #fdeff5;
	padding: 20px;
}
section#pagecontents #profile p {
	font-weight: bold;
	font-size: 16px;
}

@media only screen and (max-width: 768px) {
section#pagecontents {
	padding: 0 10px;
}
section#pagecontents #privacy {
	width: 100%;
	margin: 0 auto;
	padding: 50px 0 20px 0;
}
section#privacy dl {
    margin-top: 20px;
}
section#privacy dl dd {
    margin: 10px 20px 20px 20px;
}	
}
@media only screen and (max-width: 480px) {
section#pagecontents #privacy {
	padding: 20px 0;
}
}
/********************************
service
********************************/
section#plan {
	width: 980px;
	margin: 0 auto;
	padding: 70px 0;
}
section#plan table {
	border-collapse: separate;
	border-spacing: 0;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width: 900px;
	margin: 20px auto 10px auto;
}
section#plan table th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	background: #eee;
}
section#plan table td {
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
section#plan h3 {
	position: relative;
	padding-bottom: .5em;
	border-bottom: 4px solid #ccc;
	font-weight: bold;
	padding-left: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
}
section#plan h3::after {
	position: absolute;
	bottom: -4px;
	left: 0;
	z-index: 2;
	content: '';
	width: 20%;
	height: 4px;
	background-color: #333333;
}
section#plan h4 {
	font-weight: bold;
	width: 900px;
	margin: 30px auto 5px auto;
}
section#plan .tablecap {
	width: 900px;
	margin: 0 auto;
}
section#plan ul {
	background: #f8f8f8;
	padding: 20px;
	width: 900px;
	margin: 0 auto;
}
section#plan ul li {
}
section#plan .txt {
	margin: 20px 0 0 0;
}

@media only screen and (max-width: 768px) {
section#plan {
	width: 100%;
	padding: 50px 0;
}
section#plan h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}
section#plan table {
	width: 100%;
	margin: 20px auto 10px auto;
	font-size: 85%;
}
section#plan table th, section#plan table td {
	padding: 5px;
}
section#plan h4 {
	width: 100%;
}
section#plan .tablecap {
	width: 100%;
}
section#plan ul {
	width: 100%;
}
}

@media only screen and (max-width: 480px) {
section#plan {
	width: 100%;
	padding: 20px 0;
}
}
/********************************
contact
********************************/
section#contact {
	padding: 70px 0;
}
section#contact #contacttit {
	text-align: center;
	font-size: 24px;
	color: #434343;
	font-weight: bold;
}
section#contact #contactblock {
	border: #fdeff5 solid 10px;
	width: 980px;
	margin: 0 auto;
	text-align: center;
	padding: 30px 15px;
}
section#contact #contactblock img {
	width: 400px
}
section#contact #contactblock .contbtn {
	margin: 10px 0 0 0;
}
section#contact #contactblock span {
	font-size: 12px;
}

@media only screen and (max-width: 768px) {
section#contact {
	padding: 30px 0;
}
section#contact #contactblock {
	width: 90%;
	margin: 0 auto;
	font-size: 85%;
	border: #fdeff5 solid 5px;
	padding: 10px;
}
section#contact #contacttit {
	font-size: 120%;
	margin: 5px 0;
}
}

@media only screen and (max-width: 480px) {
section#contact {
	padding: 20px 0;
}
section#contact #contactblock img {
	width: 100%;
}
section#contact #contactblock .contbtn {
	margin: 0;
}
}
/********************************
footer
********************************/
footer {
	font-size: 12px;
	background: #3e3b3a;
	color: #ffffff;
	padding: 3px 0;
}
footer a {
	text-decoration: none !important;
	color: #ffffff !important;
}
footer #fotterarea {
	width: 980px;
	margin: 0 auto;
}
footer #left {
	float: left;
	padding: 5px 0 0 0;
}
footer #left #name {
	font-size: 16px;
}
footer #right {
	float: right;
	padding: 5px 0 0 0;
}
footer #right ul {
	border-right: #ffffff solid 1px;
	height: 16px;
}
footer #right ul li {
	float: left;
	border-left: #ffffff solid 1px;
	padding: 0 15px;
	line-height: 16px;
}
footer #copy {
	text-align: center;
	margin-top: 30px;
}

@media only screen and (max-width: 768px) {
footer #fotterarea {
	width: 100%;
	margin: 0 auto;
	font-size: 85%;
	padding: 0 10px;
}
footer #copy {
	margin-top: 10px;
}
}

@media only screen and (max-width: 480px) {
footer #right ul {
	border-right: none;
	height: 16px;
}
footer #left {
	float: none;
}
footer #right {
	float: none;
}
footer #right ul li {
	padding: 0 5px;
	line-height: 1.2;
}
}
